package service

import (
	"github.com/diegiwg/devopness-cli/core"
	{{- if .ImportModels }}
	model "github.com/diegiwg/devopness-cli/generated/models"
	{{- end }}
)

type {{ .Service }} struct{}

{{ range .Operations }}
// {{ .Summary }}
func (s *{{ $.Service }}) {{ capitalize .OperationId }} (ctx *core.Context{{- if .RequestBody }}, body model.{{ .RequestBody }} {{ end }}) ({{ range .RequestReturnsTypes }} *{{ . }}, {{ end }}) {
	{{- if (eq .RequestBody "") }}
	var body interface{} = nil
	{{- end }}

	responseCode, responseBody := ctx.Client.{{ capitalize .Method }}("{{ .Path }}", body)

{{ .RequestReturns }}
}
{{ end }}