package service

import (
	"github.com/diegiwg/devopness-cli/core"
)

type {{ .Service }} struct{}

{{ range .Operations }}
// {{ .Summary }}
func (s *{{ $.Service }}) {{ capitalize .OperationId }} (ctx *core.Context, {{ renderArguments .Arguments ", " }}) string {
    var body = make(map[string]string)
	{{ range .Arguments }}
	body["{{ . }}"] = _{{ . }}{{ end }}
	
	rawResponse, err := ctx.Client.{{ capitalize .Method }}("{{ .Path }}", body)
	if err != nil {
		panic(err)
	}

    return rawResponse
}
{{ end }}